
fieldset {
  margin: 0;
  padding: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-before: 0;
  -webkit-padding-start: 0;
  -webkit-padding-end: 0;
  -webkit-padding-after: 0;
  border: 0;
}
 {
  box-sizing: border-box;
}

  form {
  width: 100%;
  max-width: 240px;
}

  form legend {
  font-size: 36px;
  color: #fff;
  font-weight: 800;
  text-align: center;
  margin-bottom: 50px;
}

  form .inner-form {
  width: 100%;
  margin-bottom: 17px;
}

  form .inner-form .input-field {
  width: 100%;
  position: relative;
}

  form .inner-form .input-field .choices {
  margin-bottom: 0;
}

  form .inner-form .input-field .choices .choices__inner {
  min-height: 70px;
  width: 100%;
  background: transparent;
  border: 0;
  background: #fff;
  display: block;
  width: 100%;
  padding: 10px 70px 10px 32px;
  font-size: 18px;
  color: #666;
  border-radius: 34px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-align: center;
      align-items: center;
}

  form .inner-form .input-field .choices .choices__inner .choices__list .choices__item {
  background: #e7e7e7;
  color: #333;
  line-height: 33px;
  border: 0;
  padding: 0 20px;
  font-size: 16px;
}

  form .inner-form .input-field .choices .choices__inner .choices__list .choices__item .choices__button {
  border-left: 0;
  color: #b2b2b2;
  background-image: url(../images/icons/close.svg);
  background-size: 14px auto;
  padding-left: 0;
  opacity: .3;
  transition: all .2s ease-out, color .2s ease-out;
}

  form .inner-form .input-field .choices .choices__inner .choices__list .choices__item .choices__button:hover {
  opacity: 1;
}

  form .inner-form .input-field .choices .choices__inner .choices__input {
  font-size: 16px;
  color: #333;
  background-color: transparent;
  margin-bottom: 0;
}

  form .inner-form .input-field .choices .choices__list--dropdown {
  background: transparent;
  font-size: 16px;
  color: #fff;
  border: 0;
  padding: 0 32px;
}

  form .inner-form .input-field .choices .choices__list--dropdown .choices__item {
  font-size: 13px;
  height: 25px;
  line-height: 1.3;
  padding: 0;
  padding-top: 5px;
  opacity: .7;
}

  form .inner-form .input-field .btn-search {
  width: 70px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  position: relative;
  right: 0;
  top: 0;
  height: 100%;
  background: transparent;
  border: 0;
  padding: 0;
  cursor: pointer;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  align-items: center;
}

  form .inner-form .input-field .btn-search svg {
  fill: #333;
  width: 40px;
  height: 40px;
  transition: all .2s ease-out, color .2s ease-out;
}

  form .inner-form .input-field .btn-search:hover,   form .inner-form .input-field .btn-search:focus {
  outline: 0;
  box-shadow: none;
}

  form .inner-form .input-field .btn-search:hover svg,   form .inner-form .input-field .btn-search:focus svg {
  fill: #000;
}

  form .suggestion-wrap {
  padding: 0 15px;
}

  form .suggestion-wrap span {
  font-size: 14px;
  font-family: 'Helvetica', sans-serif;
  display: inline-block;
  padding: 0 15px;
  line-height: 32px;
  color: #fff;
  border-radius: 16px;
  margin-right: 10px;
  margin-bottom: 10px;
}
